<mat-accordion>
  <mat-expansion-panel *ngFor="let item of categories; let num=index;">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.name }}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
      <mat-action-list>
        <button *ngFor="let child of item.children; let num=index;" class='category' [ngClass]="{active: isActive(num)}" mat-raised-button color="warn" (click)="select($event,num)" matBadgePosition="after" matBadgeColor="accent">
          <mat-icon>{{ child.icon }}</mat-icon>
          <span>{{ child.name }}</span>
        </button>
      </mat-action-list>
  </mat-expansion-panel>
</mat-accordion>
<mat-list-item class="clickable" (click)="addCategory()">New Category<mat-icon>add</mat-icon></mat-list-item>
