<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-grid-list cols="3" class="">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile class="full-match">
      <mat-card class="login-card">
        <mat-card-header>
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput formControlName="password" placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>

        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn" (click)="onSubmit()" [disabled]="loginForm.invalid">Login</button>
        </mat-card-actions>
        <div class="error-badge" *ngIf="loginError">
            Login or password is wrong!
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>
</form>