<mat-drawer-container class="container">
    <mat-drawer mode="side" opened>
        <mat-list>
            <button mat-raised-button color="primary" [routerLink]="['dashboard']" routerLinkActive="active">Dashboard</button>
            
            <mat-list-item>Wallets <mat-icon class="clickable" (click)="addWallet()">add</mat-icon></mat-list-item>
            <mat-divider></mat-divider>
            <app-wallets></app-wallets>

            <mat-list-item>Categories</mat-list-item>
            <mat-divider></mat-divider>
            <app-categories></app-categories>
        </mat-list>
        
        
    </mat-drawer>
    <mat-drawer-content>
     <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>