@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* top menu */
.menu-spacer {
    flex: 1 1 auto;
}
.full-match>figure{
    display: block !important;
    padding: 5px !important;
}
.full-width {
    width: 100%;
}
.login-card .mat-card-header-text{
    margin-left: 0px;
}