<mat-toolbar color="primary">
	<mat-toolbar-row>
		<span>Budget Planner</span>
		<span class="menu-spacer"></span>
		<button mat-button *ngIf="!loggedIn" [routerLink]="['login']">Login</button>
		<button mat-button *ngIf="!loggedIn" [routerLink]="['register']">Register</button>
		<button mat-button *ngIf="loggedIn" (click)="logout()">Logout</button>
	</mat-toolbar-row>
  </mat-toolbar>

<div class="page-spinner" *ngIf="loading">
	<mat-spinner></mat-spinner>
</div>

<router-outlet></router-outlet>